

/* 
			================= BODY =================
*/
body{
	
	background: rgb(00,000,000);
	background: radial-gradient(circle at 50% 45%, rgba(255, 0, 132, 1)/*rgba(245, 40, 145, 0.8)*/ 7%/*, rgba(255, 0, 132, 1) 10%*/, rgba(18, 15, 17, 1) 70%);
	
}


:root {
  touch-action: pan-x pan-y;
  height: 100% 
}

/* 
      ================= ALL BUTTONS ANIMATIONS =================
*/

.button, .clicker {
	/*Disable selection and drag*/
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
	/*Revome buttons borders and otlines*/
	outline: none;
	border: medium none;
	/*   =============  ОГРОМНЫЙ ВОПРОС ПО ЭТОЙ ХУЙНЕ КОД ЧТО НИЖЕ УБИРАЕТ ТЕНЬ КНОПКИ КЛИКЕРА  =============*/
	/*background-color:rgba(135, 35, 86, 0.8);/*серый*/
	background-image: none; 
	background: transparent;
	float: left;
	background-color: transparent;
	
	
	/*Transition Animation between hover/active...*/
	transition: box-shadow 0.3s, background-color 0.3s;
}

.button:hover, .clicker:hover{
	
	box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(15, 15, 15, 0.15);/*shadow*/
}
.button:active, .clicker:active{
	
	/*Shadow, color transition*/
	transition: box-shadow 0.15s, background-color 0.1s;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3), 0 20px 20px 0 rgba(0, 0, 0, 0.15);
	background-color:#F0F0F0;
}

.button_batoots:hover{
	box-shadow: 0 27px 55px 0 rgba(255, 0, 132, 1);/*shadow*/
}
.button_batoots:active{
	/*Shadow, color transition*/
	transition: box-shadow 0.15s, background-color 0.1s;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
	background-color:#F0F0F0;
}





/*
			================= SHOP =================
*/
.button{
	width: 300;height: 70;
	position: absolute;
	left: 50%;
	
	transform: translate(-50%, -50%);
	
	align-items: center;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button:disabled{
	background-color: #B3B3B3;
}


.button_batoots{
	width: 300;height: 70;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	
	align-items: center;
  background-color: rgba(255, 0, 132, 1);
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button_batoots:disabled{
	background-color: #B3B3B3;
}






.boostbtn{
	width: 130;height: 35;
	position: absolute;
	left: 30%;
	top: 75%;
	transform: translate(-50%, -50%);
	
	
  align-items: center;
  background-color: rgba(255, 0, 132, 1);
  border-radius: 12px;
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0 /*transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px*/;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.boostbtn:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;

}

.boostbtn_2{
	width: 130;height: 35;
	position: absolute;
	left: 70%;
	top: 75%;
	transform: translate(-50%, -50%);
	
	
  align-items: center;
  background-color: rgba(255, 0, 132, 1);
  border-radius: 12px;
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0 /*transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px*/;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.boostbtn_2:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;

}

#b2{top:10%}
#b3{top:30%}
#b6{top:200%}
/*#b1{top:42%}*/


#b4{top:10%}
#b5{top:30%}
#b7{top:200%}
/*#b4{top:52%}*/


/* 
	  ================= Main Clicker Button =================
*/
.clicker {
	/*Size*/
	border-radius: 50%;
	width:250px;
	height:250px;
	/* Position */
	position: absolute;/*                postulat de départ */
	top: 45%; left: 50%;/*               à 50%/50% du parent référent */
	transform: translate(-50%, -50%);/*  décalage de 50% de sa propre taille */
	/* Animation */
	transition: width 0.3s, height 0.3s;
}
.clicker:hover {
	width:225px;
	height:225px;
}
.clicker:active {
	transition: width 0.05s, height 0.05s;
	width:250px;
	height:250px;
}

/* 
	    ================= Money text Display =================
*/

.money-text {
	font-family: Anurati; /* Гарнитура шрифта */
    src: url(fonts/anurati_regular.ttf);
	src: url(fonts/anurati_regular.eot?#iefix) format(embedded-opentype),
		url(fonts/anurati_regular.woff2) format(woff2), 
		url(fonts/anurati_regular.woff) format(woff),
		url(fonts/anurati_regular.ttf) format(truetype);	/* Путь к файлу со шрифтом */
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  margin-left: 20px;
  color: #FFFFFF;
  font-size: 50;
}
/*  ============== НИЗ ПРИЛОЖЕНИЯ С КНОПКАМИ ============= */

.footer::body {
  font-family: PT Astra Sans;
   background-color: #000000;
   }
.footer {
  background-color: #000000;
   position: fixed;
   right: 0;
   bottom: 0;
   text-align: center; 
   height: 12%;
   width: 100%;   
   font-size: 19px;
font-weight: bold;
  color: #000000;  
 }
 
 
.footer_buttons_home{
	/*Size*/
	/*border-radius: 50%;*/
	width:40px;
	height:40px;
	/* Position */
	position: absolute;/*                postulat de départ */
	top: 37%; left: 25%;/*               à 50%/50% du parent référent */
	transform: translate(-50%, -50%);
	border: none;
	/*(width: 50;height: 50;
	position: absolute;
	left: 30%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	align-items: center;*/
	background-color: #000000;
}
  /*border-radius: 12px;*/
  /*box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  /*padding: 1rem 1.2rem;
  /*text-align: center;
  /*text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}*/

.footer_buttons_tasks{
	/*Size*/
	/*border-radius: 50%;*/
	width:40px;
	height:40px;
	/* Position */
	position: absolute;/*                postulat de départ */
	top: 37%; left: 50%;/*               à 50%/50% du parent référent */
	transform: translate(-50%, -50%);
	border: none;
	/*(width: 50;height: 50;
	position: absolute;
	left: 30%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	align-items: center;*/
	background-color: #000000;
}

.footer_buttons_friends{
	/*Size*/
	/*border-radius: 50%;*/
	width:40px;
	height:40px;
	/* Position */
	position: absolute;/*                postulat de départ */
	top: 37%; left: 75%;/*               à 50%/50% du parent référent */
	transform: translate(-50%, -50%);
	border: none;
	/*(width: 50;height: 50;
	position: absolute;
	left: 30%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	align-items: center;*/
	background-color: #000000;
}



.container {
	border-radius: 25px;
  width: 96%;
  height: 96%;
  position: absolute;
	left: 2%;
	top: 2%;
	background-color: rgba(0,0,0,0.7);/*//0.5=half*/
}



.task1 {
	border-radius: 25px;
	font-family: Arial;
	font-size: 14px;
	color: white;
	text-align: center;
	line-height: 400%;
	
  width: 90%;
  height: 7%;
  position: absolute;
	left: 5%;
	top: 10%;
	background-color: rgba(56, 47, 52, 0.8);/*//0.5=half*/
	
	
}



.yorcov_vk {
	
	width:40px;
	height:40px;
	/* Position */
	position: absolute;/*                postulat de départ */
	top: 50%; left: 8%;/*               à 50%/50% du parent référent */
	transform: translate(-50%, -50%);
	border: none;
	/*(width: 50;height: 50;
	position: absolute;
	left: 30%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	align-items: center;*/
	/*background-color: #000000;*/
	
}

.yorcov_vk_button{
	width: 250;height: 35;
	position: absolute;
	left: 57%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	
  align-items: center;
  background-color: rgba(255, 0, 132, 1);
  border-radius: 12px;
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0 /*transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px*/;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
	
}





